@import "tailwindcss";

/* XLight — solo tienes italic, NO normal */
@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamSSm-XLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* Light (300) */
@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamSSm-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamSSm-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Medium (500) */
@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamSSm-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamSSm-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Book (400) — solo tienes italic */
@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamSSm-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Body base */
body {
  font-family: "Gotham", sans-serif;
  font-weight: 300; /* Usamos Light como base */
}

/* Swiper bullets */
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 6px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #059669;
  transform: scale(1.4);
}

.input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  outline: none;
}

.input:focus {
  border-color: #45c93e;
  box-shadow: 0 0 0 2px rgba(69, 201, 62, 0.25);
}
